body {
    padding: 0;
    margin: 0;
}

#content {
    margin: 4rem;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}