<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter Form 2</title>
</head>

<body>
    <h1>Greeter Form</h1>
    <form action="/greet-2">
        <input type="text" placeholder="your name" name="username" id="">
        <label for="compliments">Do you want compliments?</label>
        <input type="checkbox" name="wants_compliments" id="compliments">
        <button>Submit</button>
    </form>
</body>

</html>